<h2>New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea class="tweetbox" name="tweet[content]"></textarea>
  </label>
  <strong class="remaining">140</strong>
  <br>


  <a href="javascript:void(0)" class="add-mentioned-user">Add Mention</a>
  <div class="mentioned-users"></div>

  <script class="mentionscript" type="text/template">
  <div class="erase">
    <label>
      Mention
      <select name="tweet[mentioned_user_ids][]">
        <option class="default"></option>
        <% User.all.each do |user| %>
          <option class="non-default" value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select>
    </label>
    <a href="javascript:void(0)" class="remove-mentioned-user">Remove Mentioned User</a>
    <br>
  </div>
  </script>

  <input type="Submit" value="Post Tweet!">
</form>
