<h2>New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea class="tweetbox" name="tweet[content]"></textarea>
  </label>
  <strong class="remaining">140</strong>
  <br>


  <p class="add-mention">Add Mention</p>
  

  <!-- <label>
    Mention
    <select name="tweet[mentioned_user_ids][]">
      <option class="default"></option>
      <% User.all.each do |user| %>
        <option class="non-default" value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </label> -->
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
